@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
<<<<<<< HEAD
    <h1 class="display-4">Application - Version 3</h1>
=======
    <h1 class="display-4">Application - Version 2</h1>
>>>>>>> caa9fae72977b05a19a406e2359c040bffc71f15
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
